fastapi
uvicorn
pydantic

pandas
joblib

langchain
langchain-community
langchain-classic
langchain-groq

langchain-huggingface
sentence-transformers
faiss-cpu

scikit-learn==1.6.1
xgboost

python-dotenv
python-multipart
